$roboto-font-path: '../assets/';
@import "materialize";
@import 'ember-cli-materialize';

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.axis path {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}
