$roboto-font-path: '../assets/';
@import "materialize";
@import 'ember-cli-materialize';

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.legend {
  stroke: #777;
  fill: #fff;
  stroke-width: 1;
}

.legend text {
  font-size: 12px;
  stroke: none;
  fill: #777;
}

.axis text {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

.tooltip {
  position: absolute;
  padding: 3px 8px;
  font-size: 12px;
  background: #000;
  color: white;
  border-radius: 4px;
  line-height: 1.42857143;
  max-width: 200px;
  text-align: center;
}
